[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = ">=4.1.2"
streamlit = "*"
streamlit-autorefresh = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-pyproject = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
